.name {
    font-weight: bold;
}

.type {
    margin-bottom: 8px;
}

.description {
    margin-bottom: 16px;
}

.example {
    margin: 8px 0 24px;
    padding: 16px;
    border: 1px solid rgb(230, 236, 240);
}

.tab {
    display: inline-block;
    margin: 0 16px 8px 0;
    font-size: 12px;
    font-weight: bold;
    color: rgb(170, 184, 194);
    text-transform: uppercase;
    opacity: 0.56;
    cursor: pointer;
}

.active {
    opacity: 1;
}

.jsx {
    margin: 0 -17px -17px;
}

.jsx pre {
    margin: 0;
}
