.name {
    font-weight: bold;
}

.type {
    margin-bottom: 16px;
}

.description {
    margin-bottom: 16px;
}

.type + .description {
    margin-top: -8px;
}

.example {
    margin-bottom: 24px;
    padding: 16px;
    border: 1px solid rgb(230, 236, 240);
    border-radius: 4px;
}

.tab {
    display: inline-block;
    margin: 0 16px 16px 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: rgb(170, 184, 194);
    text-transform: uppercase;
    opacity: 0.56;
    cursor: pointer;
}

.active {
    opacity: 1;
}

.jsx {
    margin: 0 -17px -17px;
}

.jsx pre {
    margin: 0;
    border-color: #fff0 !important;
    border-radius: 0 0 4px 4px !important;
}
